{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "image" : "/particles/feathers/feather.png",
                "initial" : "drift",
                "rotation" : 0,
                "timeToLive" : 1
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/unique/gust1.wav", "/sfx/npc/unique/gust2.wav", "/sfx/npc/unique/gust3.wav" ]
    },
    {
      "action" : "light",
      "color" : "white"
    }

  ]
}
