{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "coconutbreak"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/npc/enemydeathpuff.wav" ]
    },
    {
      "action" : "light",
      "color" : "white"
    }

  ]
}
