{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "snowballexplosion"
    },
    {
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "animation" : "/animations/snowballexplosion/snowballexplosion.animation",
                "size" : 1.0,
                "initial" : "drift",
                "rotation" : 0.14,
                "timeToLive" : 0.6
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/mediumsnowball_impact.wav" ]
    }
  ]
}
