{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "bonedustexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/bonecrumble1.wav", "/sfx/projectiles/bonecrumble2.wav", "/sfx/projectiles/bonecrumble3.wav" ]
    }
  ]
}
