{
  "outpost" : {
    "primaryDungeon" : "outpost",
    "threatLevel" : 0,
    "gravity" : 80,
    "worldSize" : [2000, 1000],
    "dungeonAnchorPoint" : [1000, 500],
    "ambientLightLevel" : [128, 128, 128],

    "primaryBiome" : {
      "name" : "garden",
      "hueShift" : 0,
      "surfaceLiquid" : 0
    }
  },

  "ancientgateway" : {
    "primaryDungeon" : "ancientgateway",
    "threatLevel" : 0,
    "gravity" : 40,
    "worldSize" : [1000, 1000],
    "dungeonAnchorPoint" : [500, 500],
    "ambientLightLevel" : [128, 128, 128]
  },

  "lunarbase" : {
    "primaryDungeon" : "lunarbase",
    "threatLevel" : 0,
    "gravity" : 80,
    "worldSize" : [2000, 2000],
    "dungeonAnchorPoint" : [1000, 1000],
    "ambientLightLevel" : [32, 32, 32]
  }
}
