{
  "dayLengthRange" : [800, 2000],
  "gravityRange" : [70, 90],

  "blockNoise" : {
    "horizontalNoise" : {
      "type" : "Perlin",
      "octaves" : 7,
      "frequency" : 0.0017,
      "amplitude" : 200,
      "alpha" : 1.4,
      "beta" : 2.0
    },

    "verticalNoise" : {
      "type" : "Perlin",
      "octaves" : 7,
      "frequency" : 0.002,
      "amplitude" : 80,
      "alpha" : 1.6,
      "beta" : 2.0
    },

    "noise" : {
      "type" : "Perlin",
      "octaves" : 4,
      "frequency" : 0.1,
      "amplitude" : 8,
      "alpha" : 1.8,
      "beta" : 2.0
    }
  },

  "sizes" : {
    "small" : {
      "size" : [4000, 4000],
      "description" : "small",
      "spaceLevel" : 3000,
      "surfaceLevel" : 600,
      "undergroundLevel" : 550,
      "bedrockLevel" : 460,
      "coreLevel" : 100,
      "lavaLevel" : 30,

      "blendSize" : 30,

      "detachedBiomeCount" : 1,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 7,
      "undergroundDetachedBiomeRadius" : 100,
      "undergroundDetachedBiomeHeightVariance" : 20,

      "undergroundLayers" : 2,
      "surfaceDungeonCount" : 1
    },

    "large" : {
      "size" : [6000, 4000],
      "description" : "large",
      "spaceLevel" : 3000,
      "surfaceLevel" : 1200,
      "undergroundLevel" : 1150,
      "bedrockLevel" : 1050,
      "coreLevel" : 128,
      "lavaLevel" : 60,

      "blendSize" : 50,

      "detachedBiomeCount" : 2,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 10,
      "undergroundDetachedBiomeRadius" : 150,
      "undergroundDetachedBiomeHeightVariance" : 30,

      "undergroundLayers" : 3,
      "surfaceDungeonCount" : 1
    },

    "verylarge" : {
      "size" : [8000, 5000],
      "description" : "very large",
      "spaceLevel" : 4000,
      "surfaceLevel" : 1600,
      "undergroundLevel" : 1530,
      "bedrockLevel" : 1400,
      "coreLevel" : 128,
      "lavaLevel" : 60,

      "blendSize" : 50,

      "detachedBiomeCount" : 3,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 15,
      "undergroundDetachedBiomeRadius" : 200,
      "undergroundDetachedBiomeHeightVariance" : 40,

      "undergroundLayers" : 4,
      "surfaceDungeonCount" : 1
    },

    "huge" : {
      "size" : [16000, 7000],
      "description" : "huge",
      "spaceLevel" : 5500,
      "surfaceLevel" : 3000,
      "undergroundLevel" : 2900,
      "bedrockLevel" : 2700,
      "coreLevel" : 128,
      "lavaLevel" : 60,

      "blendSize" : 50,

      "detachedBiomeCount" : 5,
      "detachedBiomeRadius" : 250,

      "undergroundDetachedBiomeCount" : 20,
      "undergroundDetachedBiomeRadius" : 400,
      "undergroundDetachedBiomeHeightVariance" : 50,

      "undergroundLayers" : 6,
      "surfaceDungeonCount" : 2
    }
  },

  "terrain" : {

    // surface terrain

    "mixed" : {
      "terrainSelector" : "mixedSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "barren" : {
      "terrainSelector" : "flatsSurface",
      "caveSelector" : "empty",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "empty"
    },

    "flats" : {
      "terrainSelector" : "flatsSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "lowHills" : {
      "terrainSelector" : "lowHillsSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "medHills" : {
      "terrainSelector" : "medHillsSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "ledges" : {
      "terrainSelector" : "ledgesSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "giantLedges" : {
      "terrainSelector" : "giantLedgesSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "spikes" : {
      "terrainSelector" : "spikesSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "mountains" : {
      "terrainSelector" : "mountainousSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "mesas" : {
      "terrainSelector" : "mesasSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "canyons" : {
      "terrainSelector" : "canyonsSurface",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    // underground terrain

    "undergroundCaves" : {
      "terrainSelector" : "solid",
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "denseCaves" : {
      "terrainSelector" : "solid",
      "caveSelector" : "denseCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "coreCaves" : {
      "terrainSelector" : "solid",
      // Worm caves aka normalCaves do not blend correctly yet with full caves,
      // needs a transition layer with a cave generator that does.  Replace
      // with something better or fix worm caves.
      "caveSelector" : "normalCaves",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    },

    "lavaBed" : {
      "terrainSelector" : "solid",
      "caveSelector" : "solid",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "empty",
      "oreSelector" : "empty"
    },

    // misc

    "asteroids" : {
      "terrainSelector" : "asteroids",
      "caveSelector" : "empty",
      "bgCaveSelector" : "empty",
      "subBlockSelector" : "largeClumps",
      "oreSelector" : "commonVeins"
    }
  },

  "surfaceBiomeParameters" : {

    // TIER 1 (STARTER)

    "garden" : {
      "threatRange" : [1, 1],
      "terrain" : [ "lowHills" ],
      "dungeonSelection" : [
        [0, [ "naturalcave" ]]
      ]
    },

    // TIER 2

    "desert" : {
      "threatRange" : [2, 2],
      "terrain" : [ "flats", "lowHills", "spikes" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "forest" : {
      "threatRange" : [2, 2],
      "terrain" : [ "lowHills", "ledges" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },

    "moon" : {
      "threatRange" : [2, 7],
      "terrain" : [ "flats", "ledges" ],
      "dungeonSelection" : [
        //[0, [ "lunarbase" ]]
      ]
    },

    // TIER 3

    "ocean" : {
      "threatRange" : [3, 3],
      "terrain" : [ "flats" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "savannah" : {
      "threatRange" : [3, 3],
      "terrain" : [ "flats", "lowHills", "canyons" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "snow" : {
      "threatRange" : [3, 3],
      "terrain" : [ "lowHills", "medHills", "ledges" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },

    // TIER 4 (radiation protection)
    
    "jungle" : {
      "threatRange" : [4, 4],
      "terrain" : [ "lowHills", "medHills", "canyons", "ledges", "giantLedges", "mountains" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    //TODO: toxic plains
    //TODO: alien world

    // TIER 5 (cold protection)
    
    "arctic" : {
      "threatRange" : [5, 5],
      "terrain" : [ "lowHills", "medHills", "canyons", "ledges", "mountains", "spikes"  ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "tundra" : {
      "threatRange" : [5, 5],
      "terrain" : [ "lowHills", "medHills", "canyons", "ledges", "mountains" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    
    // TIER 6 (heat protection)

    "magma" : {
      "threatRange" : [6, 6],
      "terrain" : [ "lowHills", "canyons", "ledges", "spikes" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "volcanic" : {
      "threatRange" : [6, 6],
      "terrain" : [ "lowHills", "medHills", "canyons", "ledges", "giantLedges", "mountains" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "scorched" : {
      "threatRange" : [6, 6],
      "terrain" : [ "canyons", "mesas", "ledges", "giantLedges", "mountains", "spikes" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },

    // TIER 7 (endgame)

    "tentacles" : {
      "threatRange" : [7, 7],
      "terrain" : [ "flats" ],
      "dungeonSelection" : [
        [0, [ "scifidungeon", "apexresearchlab", "apextestchamber", "apextowerblock", "avianairship", "aviantemple", "aviantomb", "aviantower", "avianvillage", "floranhell", "floranhuntinggrounds", "floranvillagetower", "glitchcastle", "glitchsewer", "glitchvillage", "humanbunker", "humanprison", "naturalcave" ]]
      ]
    },
    "barren" : {
      "threatRange" : [7, 7],
      "terrain" : [ "barren" ],
      "dungeonSelection" : [ ]
    }
  },

  "undergroundLayers" : [
    {
      "biomes" : [
        [1, [ "underground0a", "underground0b" ]],
        [2, [ "underground1a", "underground1b", "underground1c", "underground1d" ]],
        [3, [ "underground1a", "underground1b", "underground1c", "underground1d", "underground3a", "underground3b", "underground3c", "underground3d" ]],
        [5, [ "underground3a", "underground3b", "underground3c", "underground3d", "underground5a", "underground5b", "underground5c", "underground5d" ]]
      ],
      "detachedBiomes" : [
        [2, [ "minivillage", "mushrooms", "wilderness" ]],
        [3, [] ] // [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "denseCaves" ]
    },
    {
      "biomes" : [
        [1, [ "underground0c", "underground0d" ]],
        [2, [ "underground1a", "underground1b", "underground1c", "underground1d" ]],
        [3, [ "underground1a", "underground1b", "underground1c", "underground1d", "underground3a", "underground3b", "underground3c", "underground3d" ]],
        [5, [ "underground3a", "underground3b", "underground3c", "underground3d", "underground5a", "underground5b", "underground5c", "underground5d" ]]
      ],
      "detachedBiomes" : [
        [2, [ "minivillage", "mushrooms", "wilderness" ]],
        [3, [] ] // [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "denseCaves" ]
    },
    {
      "biomes" : [
        [1, [ "underground0a", "underground0b", "underground0c", "underground0d" ]],
        [2, [ "underground1a", "underground1b", "underground1c", "underground1d" ]],
        [3, [ "underground1a", "underground1b", "underground1c", "underground1d", "underground3a", "underground3b", "underground3c", "underground3d" ]],
        [5, [ "underground3a", "underground3b", "underground3c", "underground3d", "underground5a", "underground5b", "underground5c", "underground5d" ]]
      ],
      "detachedBiomes" : [
        [2, [ "minivillage", "mushrooms", "wilderness" ]],
        [3, [] ] // [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "denseCaves" ]
    },
    {
      "biomes" : [
        [1, [ "underground0a", "underground0b", "underground0c", "underground0d" ]],
        [2, [ "underground1a", "underground1b", "underground1c", "underground1d" ]],
        [3, [ "underground1a", "underground1b", "underground1c", "underground1d", "underground3a", "underground3b", "underground3c", "underground3d" ]],
        [5, [ "underground3a", "underground3b", "underground3c", "underground3d", "underground5a", "underground5b", "underground5c", "underground5d" ]]
      ],
      "detachedBiomes" : [
        [2, [ "minivillage", "mushrooms", "wilderness" ]],
        [3, [] ] // [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "denseCaves" ]
    },
    {
      "biomes" : [
        [1, [ "underground0a", "underground0b", "underground0c", "underground0d" ]],
        [2, [ "underground1a", "underground1b", "underground1c", "underground1d" ]],
        [3, [ "underground3a", "underground3b", "underground3c", "underground3d" ]],
        [5, [ "underground5a", "underground5b", "underground5c", "underground5d" ]]
      ],
      "detachedBiomes" : [
        [2, [ "minivillage", "mushrooms", "wilderness" ]],
        [3, [] ] // [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "denseCaves" ]
    },
    {
      "biomes" : [
        [1, [ "underground0a", "underground0b", "underground0c", "underground0d" ]],
        [2, [ "underground1a", "underground1b", "underground1c", "underground1d" ]],
        [3, [ "underground3a", "underground3b", "underground3c", "underground3d" ]],
        [5, [ "underground5a", "underground5b", "underground5c", "underground5d" ]]
      ],
      "detachedBiomes" : [
        [2, [ "minivillage", "mushrooms", "wilderness" ]],
        [3, [] ] // [ "crystalcave", "cellcave", "wilderness", "tarpit", "colorfulcave", "abandonedmines", "village", "bonecaves", "fleshcave", "slimecaves", "mushrooms", "coralcave", "heck", "zen", "hive" ]]
      ],
      "terrain" : [ "undergroundCaves" ],
      "detachedTerrain" : [ "denseCaves" ]
    }
  ],

  "coreBiomes" : [ 
    [1, ["gardencorelayer"]],
    [2, ["blaststonecorelayer", "magmarockcorelayer", "obsidiancorelayer" ]]
  ],
  "coreBiomeTerrain" : [ "coreCaves" ],
  "lavaBedTerrain" : [ "lavaBed" ],

  "spaceBiomes" : [ "asteroids" ],
  "spaceBiomeTerrain" : [ "asteroids" ]
}
