{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "paintexplosionyellow"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/tar_hit_organic1.wav", "/sfx/projectiles/tar_hit_organic2.wav", "/sfx/projectiles/tar_hit_organic3.wav", "/sfx/projectiles/tar_hit_organic4.wav", "/sfx/projectiles/tar_hit_organic5.wav" ]
    }
  ]
}
