{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Rock", "Helm", "Don", "Ape", "Rain", "Vladimir", "Abram", "Albert", "Andrei", "Anastas", "Anatoli", "Angela", "Alisa", "Caesar", "Louise", "Betsy", "Nikko", "George", "Cornelius", "Ivan", "Gene", "Jean", "Silt", "Stone", "Dmitri", "Elena", "Genya", "Igor", "Ivanna", "Nadya", "Rolan", "Sasha", "Sveta", "Vasily", "Yuli", "Zoya", "Yuri", "Olive", "Oliver", "Diana", "Emperor", "Colonel", "General", "Joan" ],
      [ { "mode" : "alts" }, " Hudson", " Baboon", " Marmoset", " Tamarin", " Mandrill", " Capuchin", " Macaque", " Gibbon", " Kong", " Howler", " Rhesus", " Vervet", " Saki", " Monkey", " Alkaev", " Spider", " Gorilla", " Jr.", " Langur", " Patas", " Colobus", " Drill", " Roloway", " Gibson", " Holloway", " Draper", " Petrov", " Sokolov", " Aper", " Chimp", " Banana" ]
    ]
  ]
}
