{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Feather", "Beak", "Soar", "Seed", "Talon", "Moon", "Sol", "Song", "Lark", "Swan", "Twig", "Gust", "Wing", "Acacia", "Worm", "Thorn", "Daisy", "Aello", "Cygnus", "Claw", "Violet", "Crow", "Mocking", "Raven", "Blue", "Crimson", "Virgo", "Aries", "Ruby", "Aquila", "Ara", "Sapphire", "Stone", "Lyra", "Harp", "Stella", "Storm", "Thunder", "Sky", "Star", "Phoenix", "Vela", "Pavo" ],
      [ { "mode" : "alts" }, "wing", "bird", "bringer", "swooner", "singer", "lancer", "mother", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "hopper", "crooner", "foot", "fruit", "wood", "tree" ]
    ]
  ]
}
