{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ace", "Arch", "Bat", "Bate", "Brig", "Chris", "Cross", "Ed", "Dew", "Dona", "Elm", "Far", "Futter", "Good", "Galt", "Hop", "Crow", "Jack", "Lint", "Love", "Greg", "Mitch", "Moss", "Nate", "Orf", "Priest", "Paul", "Rich", "Stepp", "Thom", "Wil" ],
      [ { "mode" : "alts" }, "son", "man", "mann", "ley", "born", "by", "mer", "ron", "ton", "mon", "well", "ald", "ell", "all", "ness", "tello", "roy", "ment", "wall", "wale", "liss", "less", "leth", "by", "-Smythe", "-Jones", "-Peters", "-Funke" ]
    ]
  ]
  // "names" : [
  //   {"mode" : "alts"},
  //   [
  //     {"mode" : "serie"},
  //     [{"mode" : "alts"},
  //       "Morte",
  //       "Gari",
  //       "Acker",
  //       "Ale",
  //       "Bate",
  //       "Apple",
  //       "Ash",
  //       "Bake",
  //       "Bald",
  //       ""
  //     ],
  //     [{"mode" : "alts"},
  //       "berry",
  //       "bourne",
  //       "bund",
  //       "by",
  //       "den",
  //       "field",
  //       "ford",
  //       "grove",
  //       "ham",
  //       "ham",
  //       "man",
  //       "mer",
  //       "more",
  //       "ridge",
  //       "roy",
  //       // "s",
  //       // "sby",
  //       // "sley",
  //       // "slow",
  //       "son",
  //       "ster",
  //       "stine",
  //       "ton",
  //       "tram",
  //       "wald",
  //       "wale",
  //       "wall",
  //       "well",
  //       "win",
  //       "wood",
  //       "worth",
  //       "wright"
  //     ]
  //   ],
  //   [
  //     {"mode" : "serie"},
  //     [{"mode" : "alts"}, "Whit", "Glimmer", "Fenta"],
  //     [{"mode" : "alts"}, "bund", "more", "scue"]
  //   ]
  // ]
}
