{
  "action" : "actions",
  "list" : [
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/gnome_throw1.wav", "/sfx/gun/gnome_throw2.wav", "/sfx/gun/gnome_throw3.wav", "/sfx/gun/gnome_throw4.wav", "/sfx/gun/gnome_throw5.wav", "/sfx/gun/gnome_throw6.wav", "/sfx/gun/gnome_throw7.wav", "/sfx/gun/gnome_throw8.wav", "/sfx/gun/gnome_throw9.wav" ]
    }
  ]
}
