{
  "action" : "actions",
  "list" : [
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/gnome_impact1.wav", "/sfx/projectiles/gnome_impact2.wav", "/sfx/projectiles/gnome_impact3.wav", "/sfx/projectiles/gnome_impact4.wav", "/sfx/projectiles/gnome_impact5.wav", "/sfx/projectiles/gnome_impact6.wav" ]
    }
  ]
}
